<main class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
  <div class="tc">
    <img src="{{avatar}}" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
    <h1 class="f3 mb2">{{name}}</h1>
    <h2 class="f5 fw4 gray mt0">{{jobTitle}}</h2>
    <h3 class="f5 fw4 white-60 ma0"><button type="button" name="deleteUser" data-id="{{id}}" >delete</button></h3>
  </div>
</main>
