
<div class="fl w-50 w-third-m w-25-ns bg-blue">
  <div class="aspect-ratio aspect-ratio--16x9">
    <div class="absolute z-999 bottom-2 right-0 bg-near-black pa1">
      <h1 class="f3 ma0 "><a class="near-white link" href="/people/{{id}}">{{name}}</a></h1>
      <h2 class="f5 fw4 white-60 ma0">{{jobTitle}}</h2>
      
    </div>

    <img style="background-image:url({{avatar}});"
      class="db bg-center cover aspect-ratio--object" />

  </div>

</div>
