<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <main class="cf w-100">
      {{#people}}
        {{>_person}}
      {{/people}}
      {{^people}}
         <p>sorry no people</p>
      {{/people}}
    </main>
    
  </body>
</html>
